<!-- <div style="margin: 50px">
    <p style="margin: 20px">{{date|date:'yyyy/MM/dd HH:mm:ss'}}</p>
    <div class="widget-box">
            <div class="widget-header">
                <h4 class="widget-title lighter smaller">
                    <i class="ace-icon fa fa-comment blue"></i>
                    Conversation
                </h4>
            </div>
            <div class="widget-body">
                <div ng-repeat="data in AlexaData" class="widget-main no-padding">
                    <div class="dialogs ace-scroll"><div class="scroll-content" style="max-height: 300px;">
                        <div class="itemdiv dialogdiv">
                            
                            <div class="body">
                                <div class="time">
                                    <i class="ace-icon fa fa-clock-o"></i>
                                    <span class="green">{{data.time|date:'yyyy/MM/dd HH:mm:ss'}}</span>
                                </div>

                                <div ng-if="data.sender==='Alexa'" class="name">
                                    <a href="#">Alexa</a>
                                </div>
                                <div ng-if="data.sender==='myself'" class="name">
                                    <a href="#">me</a>
                                </div>
                                <div class="text" ng-model="data.message" ng-bind-html="data.message"></div>

                            </div>
                        </div>

                    </div></div>
                </div>
                    <div>
                            <input id="fileUpload" type="file" />
                            <button ng-click="uploadFile()">上传</button>
                        </div>
                    <form>
                        <div class="form-actions">
                            <div class="input-group">
                                <textarea  type="text" class="form-control" name="message" ng-keyup="inputKeyUp($event)" placeholder="请输入意见说明" ng-model="myRepeat"></textarea>
                                <span class="input-group-btn">
                                        
                                    
                                    
                                    <button class="btn btn-sm btn-info no-radius" type="button" ng-click="send()">
                                        <i class="ace-icon fa fa-share"></i>
                                        Send
                                    </button>
                                </span>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
</div> -->
<h1>taobao</h1>
<div>
	<p>
			<strong style="line-height:1.5;">
				<span style="font-family:arial;">
					<font color="#cc0000">&nbsp;&gt; display &nbsp;</font>
				</span>
				<span style="color:#000000;">&nbsp;window 1 &nbsp;&nbsp;
					<span style="font-size:10.0px;">
						<span style="color:#444444;">
							<span style="font-family:microsoft yahei;">产品展示</span>
						</span>
					</span>
				</span>
			</strong>
			<span style="line-height:1.5;">&nbsp;</span>
		</p>
		<div style="width: 750px;height:750">
			<div>
				<div style="float:left">
					<img height="750" id="bb" width="550" src="address" />
				</div>
				<div style="float:left;">
					<div style="width: 200px;padding:56px 0 56px 20px;font-size: 30px;font-family: simhei;">
						<h2 ><strong>huilo</strong></h2>
					</div>
					<div style="width: 200px;padding-left:20px;"><p>错落有致，</p></div>
				</div>
			</div>
		</div>
</div>
<div>
		<p>
				<strong style="line-height:1.5;">
					<span style="font-family:arial;">
						<font color="#cc0000">&nbsp;&gt; display &nbsp;</font>
					</span>
					<span style="color:#000000;">&nbsp;window 2 &nbsp;&nbsp;
						<span style="font-size:10.0px;">
							<span style="color:#444444;">
								<span style="font-family:microsoft yahei;">产品展示</span>
							</span>
						</span>
					</span>
				</strong>
				<span style="line-height:1.5;">&nbsp;</span>
			</p>
			<div style="width: 750px;height:750">
				<div>
					<div style="float:left">
						<img height="750" id="bb" width="550" src="address" />
					</div>
					<div style="float:left;">
						<div style="width: 200px;padding:56px 0 56px 20px;font-size: 30px;font-family: simhei;">
							<h2 ><strong>title</strong></h2>
						</div>
						<div style="width: 200px;padding-left:20px;"><p>happy</p></div>
					</div>
				</div>
			</div>
</div>
	

<h1>taobao2</h1>


<p>&nbsp;</p>